@charset "UTF-8";

body {
    font-size: 1rem;
}

img {
	max-width: 100%;
	height: auto;
	width: 700px;
	margin: auto;
	display: block;
}


h1 {
  margin-left: 50px;
  margin-top: 10px;
}

main {
	margin-top: 50px;
}

.hover-mask p {
  display: inline-block;
}

.hover-img {
    cursor: pointer;
    max-width: 700px;
    position: relative;
    width: 100%;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
 }

  .hover-img img {
    height: auto;
    width: 100%;
}
  .hover-mask {
    align-items: center; /* テキストの中央揃え */
    background: rgba(0, 0, 0, .5); /* マスクの色(黒の50%) */
    bottom: 0;
    color: #fff; /* テキストの色 */
    display: flex; /* テキストの中央揃え */
    height: auto;
    justify-content: center; /* テキストの中央揃え */
    left: 0;
    opacity: 0; /* 最初は透明(非表示) */
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .6s ease; /* ゆっくりopacityのみへ変化させる */
    width: 100%;
}
  
.hover-mask:hover {
    opacity: 1; /* hoverしたら透過しない(表示させる) */
}
  
.hover-mask p {
    width: 80%; /* テキストを横幅いっぱいにならないようにする */
}

.flex1 {
    display: flex;
}

.hover-mask p {
  text-align: center;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 1.2rem;
}

.hover-mask p:last-child {
  padding-bottom: 0;
}

.flex1 .hover-img:last-child {
  margin-top: 100px;
}

.flex2 {
    display: flex;
}

.flex2 .hover-img:last-child {
  margin-top: 100px;
}

.flex3 {
    display: flex;
}

.flex3 .hover-img:first-child {
  margin-top: 100px;
}

.flex4 {
    display: flex;
}

.flex4 .hover-img:first-child {
  margin-top: 100px;
}

.flex5 {
    display: flex;
}

.flex5 .hover-img:last-child {
  margin-top: 100px;
}

.flex6 {
    display: flex;
}

.flex6 .hover-img:first-child {
  margin-top: 100px;
}

.hover-img:last-child {
  margin-bottom: 100px;
}



.sp-text {
  display: none;
}


@media screen and (max-width: 1024px) {

  main {
    margin-top: 30px;
  }

  .center {
    margin: 0;
  }

	img {
		width: 500px;
	}

  img:nth-of-type(6) {
    margin-top: 30px;
  }

	.flex1 {
		flex-direction: column;
	}

  .hover-img {
		margin: 0 auto;
	}

	.flex1 .hover-img:first-child {
		margin-top: 50px;
	}

	.flex1  .hover-img:last-child {
		margin-top: 50px;
	}

	.flex2 {
		flex-direction: column;
	}

	.flex2 .hover-img:last-child {
		margin: 0 auto;
	}

	.flex2 .hover-img:first-child {
		margin-top:  50px;
	}

	.flex2 .hover-img:last-child {
		margin-top: 50px;
    margin-bottom: 50px;
	}

	.flex3 {
		flex-direction: column;
	}

	.flex3 .hover-img {
		margin: 0 auto;
	}

	.flex3 .hover-img:first-child {
		margin-top: 50px;
	}

	.flex3 .hover-img:last-child {
		margin-top: 50px;
	}
  
	.flex4 {
		flex-direction: column;
	}

  .flex4 .hover-img {
		margin: 0 auto;
	}

	.flex4 .hover-img:first-child {
		margin-top: 0;
	}

	.flex4 .hover-img:last-child {
		margin-top: 50px;
    margin-bottom: 50px;
	}
	.flex4 {
		flex-direction: column;
	}

  .flex4 .hover-img {
		margin: 0 auto;
	}

	.flex4 .hover-img:first-child {
		margin-top: 50px;
	}

	.flex4 .hover-img:last-child {
		margin-top: 50px;
	}

	.flex5 {
		flex-direction: column;
	}

  .flex5 .hover-img {
		margin: 0 auto;
	}

	.flex5 .hover-img:first-child {
		margin-top: 50px;
	}

	.flex5 .hover-img:last-child {
	  margin-top:  50px;
	}
	.flex5 {
		flex-direction: column;
	}

  .flex5 .hover-img {
		margin: 0 auto;
	}

	.flex5 .hover-img:first-child {
		margin-top: 50px;
	}

	.flex5 .hover-img:last-child {
		margin-top: 50px;
	}

	.flex6 {
		flex-direction: column;
	}

  .flex6 .hover-img {
		margin: 0 auto;
	}

	.flex6 .hover-img:first-child {
		margin-top: 50px;
	}

	.flex6 .hover-img:last-child {
		margin-top: 50px;
	}
	.flex6 {
		flex-direction: column;
	}

  .flex6 .hover-img {
		margin: 0 auto;
	}

	.flex6 .hover-img:first-child {
		margin-top: 50px;
	}

	.flex6 .hover-img:last-child {
		margin-top: 50px;
    margin-bottom: 50px;
	}

  .sp-img  {
    margin-top: 50px;
  }

  .sp-img:first-child {
    margin-top: 0;
  }

  .sp-text {
    display: block
  }

  .sp-text  {
    font-size: 1rem;
    font-weight: bold;
  }

  #sp-text {
    margin-bottom: 50px;
  }

 




  
}